@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {height: 100%;}

body {
  background: #f7f7f8;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 180%;
  width: 100%;
}

#logo {
  font-family: Comic Sans MS, sans-serif;
  font-size: 2em;
}

header,
footer {	
  padding: 1%;
}

.pole {
  background: #f5deb3;
  height: 100%;
}

.out {
  background-color: #fff5ee;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;	
}


.horisontal .main { display: flex; }
.horisontal .block { height: 100%; }

.horisontal .out {
  max-width: 120px;
  word-wrap: break-word; }
.horisontal .middle { margin: auto; }
	
.vertical .main { display: block; }
.vertical .block { width: 100%;	}
.vertical .out { max-height: 60px; }

.vertical .foot {
  bottom: 0;
  position: absolute; }
