@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html {height: 100%;}

body {
  background: #f7f7f8;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 20%
  height: 100%;
  line-height: 180%;
  width: 100%;
  background-color: #FFFAF0;
}

#logo {
  font-family: Comic Sans MS, sans-serif;
  font-size: 2em;
}

header,
footer {  
  padding: 1%;
  color: #696969;  
}

.out {
  background-color: #fff5ee;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;  
}

#playingField {
  background: #C0C0C0;
  height: 100%;
  display: block;
  border-radius: 2px;
  padding:1%;
  box-sizing: border-box;

}

.cell{
  text-align: center;
  background-color: #FFFFFF;
  margin: 1%;
  padding: 5%;
  float: left;
  box-sizing: border-box;
}

.cell-2{
  background-color: #D2B48C;

}
.cell-4{
  background-color: #BC8F8F;
}
.horizontal .main { display: flex; }
.horizontal .block { height: 100%; }
.horizontal .out { max-width: 120px; word-wrap: break-word; }
.horizontal .middle { margin: auto; }
.horizontal .cell { font-size: 7vh; }
.horizontal .head { border-right: 1px solid #C0C0C0; }
.horizontal .foot { border-left: 1px solid #C0C0C0; }
  
.vertical .main { display: block; }
.vertical .block { width: 100%; }
.vertical .out { max-height: 60px; }
.vertical .foot { bottom: 0; position: absolute; border-top: 1px solid #C0C0C0; }
.vertical .head { border-bottom: 1px solid #C0C0C0; }
.vertical .cell { font-size: 7vw; }
